{# Heading block #}
<div class="container">   
    <div>
        <div class="row">        
        <div class="col-md-12">
           
            <br>
            <h2>Plastic pollution data visualization</h2>
            <p>Here we look at some data and stories related to plastic pollution, and ocean plastic pollution in particular.</p>
        </div>
        </div>
    </div>
</div>

{# estimate 8 million MT #}
<div class="container h-100">   
<h4>An estimated 8 million metric ton (MT) of plastic waste enter the ocean every year</h4>
<div class="row align-items-center h-100"> 
    <div class="col-md-7">
        <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/jVNRCIoDfJfRTRLQbg" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
    <div class="col-md-5 mx-auto">
        <h5>How much is 8 million MT?</h5>
        <p>8 million tonnes of plastic, compacted, would fill about 1.2 million freight train cars. If they were all linked together traveling 30 mph (about 50 km/h), it would take 14 days for all 8 million tonnes of plastic to pass.</p>
        <p>Plastic is not biodegradable, so once it’s in the ocean, it remains there.</p>
        <p><b>Data:</b><a href="#epa_aus">[EPA Australia Waste Density]</a> and <a href="#ref_wiki_ship">[Shipping container volume]</a></p>
        
    </div>
    

</div>
</div>


<br><br>
<div class="container">   
    <h4 class="text-center">Reducing the amount of plastic in the ocean</h4>
    <br>
    <div class="row">
        <div class="col-md-12">
            <img src="static/images/plastic_recapture.png" alt="Ocean cleanup project image" width="100%"/>
        </div>
    </div>
    <br>
    <h6 class="text-center">(From left to right) Mr. Trash Wheel, SeaBin, Ocean Cleanup</h6>
    <div class="row">
        <p>Once it enters waterways, plastic may be recaptured before it reaches the ocean. Two examples of automated devices which have been developed for doing this are Mr. Trash Wheel, located in the inner  harbor in Baltimore, MD, USA, and the SeaBin project, located in waterways worldwide. Once plastic has entered the open ocean, currents and waves, as well as a greater overall area, make removal more difficult, so technology has not progressed as far. Under development now is a device by The Ocean Cleanup built to remove plastic from the open ocean.</p>
        
        <p><b>Data:</b> <a href="#mr_trash_wheel"> Mr. Trash Wheel</a>, <a href="#seabin_project">SeaBin</a>, <a href="#ocean_cleanup">Ocean Cleanup</a> </p>
        <br>        
    </div>
    <div class="row">
                <p><b>Image credits:</b></p>
        <ul>
            <li>Mr. Trash Wheel: <a href="https://www.pbs.org/newshour/science/mr-trash-wheel-cleans-up-baltimore-harbor-with-a-dash-of-humor" target="_blank">https://www.pbs.org/newshour/science/mr-trash-wheel-cleans-up-baltimore-harbor-with-a-dash-of-humor</a></li>
            
            <li>Seabin Project: <a href="https://uksa.org/about-us/plastic-free/the-seabin-project/" target="_blank">https://uksa.org/about-us/plastic-free/the-seabin-project/</a></li>
            
            <li>The Ocean Cleanup: <a href="https://www.theoceancleanup.com/" target="_blank">https://www.theoceancleanup.com/</a></li>
        </ul>

    </div>
    
</div>


{# variation in consumption HIC #}
<br><br>
<div class="container">   
<h4 class="text-center">Waste management on land is cheaper</h4>
    <br>
<div class="row"> 
    <div class="col-md-12 text-center">
        <div>
        <img src="static/images/waste_removal_cost_land_sea.png" alt="different amount of plastic waste produced per person on average from different high-income countries" width="100%"/>
        </div>
        <br>
        <h6 class="text-center">Approximate cost of removing 1 MT plastic waste from the ocean, near harbors, and via municipal waste collection on land.</h6>        
    </div>
</div>
<br><br>
<div class="row">
    <p>In general, the cost of proper waste management prior to release into waterways is less than the cost of cleaning up plastic already in the ocean. Initial purchase and operation of Mr. Trash Wheel or an individual SeaBin corresponds to roughly USD $1,000 per ton of trash removed from the water. The Ocean Cleanup device is projected to cost around USD $5,000 per ton removed once it is operational. On the other hand, proper waste management to prevent plastic entering the waterways costs an average of USD $160/ton.</p>
    <p>However, the waste management cost on land varies widely based on where we are in the world. In fact, it’s not just the waste management cost -- but our plastic waste generation and our ability to manage the waste are strongly related to the economic condition of a country. Below we explore some of these variations.
    </p>
    
    <p><b>Data:</b> <a href="#mr_trash_wheel">[Mr. Trash Wheel]</a>, <a href="#seabin_project">[Seabin Project]</a>, <a href="#ocean_cleanup">[The Ocean Cleanup]</a>, <a href="#wb_ww_db">[World Bank What a Waste Global Database]</a></p>        

</div>
</div>

{# plastic waste map #}
<br><br>
<div class="container h-100">   
<h4 class="text-center">Despite its relative low cost, the ability of countries to manage waste well depends on their income</h4>
<div class="row align-items-center h-100"> 
    <div class="col-md-7 text-center">
        <div>
        <img src="static/images/plastic_waste_map1.png" alt="different amount of plastic waste produced per person on average from different high-income countries" width="100%"/>
        </div>
        <br><br> 
        
    </div>
    <div class="col-md-5 mx-auto">
    <p>High, middle, and low income countries are defined by the world bank as GNI/capita over $12,000, between $1,000 and $12,000, and under $1,000 respectively. As countries become wealthier, their consumption of many things, including single-use plastic, increases. With growing consumption of plastic, the amount discarded also goes up.</p>
        
        <p><b>Data:</b><a href="#wb_gni_def"> [World Bank Classification by GNI 2019]</a>, <a href="#wb_ww_db">[World Bank What a Waste Global Database]</a></p>        
    </div>

</div>
</div>


{#plastic waste compasiron#}
<br><br>
<h4 class="text-center">Average plastic waste per person per day</h4>
<br>
<div class="container h-100">   
<div class="row align-items-center h-100"> 
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div>
        <img src="static/images/waste_bottle_eq.png" alt="average plastic waste generation by country income level" width="100%"/>
        </div>
        <br>
        <h6>On average, people in high, middle, and low income countries discard, respectively, 248, 94, and 56 grams of plastic per day. This is equivalent to the weight of 26, 10, and 6 empty 0.5 L/16 oz plastic water bottles, each weighing 9.5 g.</h6>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 mx-auto">        
        <p>As low- and middle- income countries get wealthier over time, we can anticipate their plastic waste production will increase. Plastic waste can be managed in one of three ways which effectively prevent its release into waterways and the environment in general--recycling, incineration, or landfilling. These three options all require a large investment in infrastructure which is not always available, meaning not all plastic waste in all locations is able to be managed well.
        </p>
        <p>For simplicity we presented the average plastic waste per person per day by the country income cateogry. However, there is a wide variation within any particular income category. <a  data-toggle="modal" href="#exampleModal">Click here to see how plastic waste generation varies among a selected group of high-income countries.</a></p>
        
        <p><b>Data:</b><a href="#ref_jambeck">[Jambeck 2015]</a>, <a href="#wb_ww_db">[World Bank What a Waste Global Database]</a></p>
        
        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Not everyone consumes plastic the same way</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="container">
            <div class="row"> 
                <div class="col-md-12 text-center">
                    <img src="static/images/hic_plastic_waste_variation.png" alt="different amount of plastic waste produced per person on average from different high-income countries" width="100%"/>
                    <br>
                </div>
            </div>
            <br><br>
            <div class="row">
                <p>As low- and middle- income countries get wealthier over time, we can anticipate their plastic waste production will increase. Plastic waste can be managed in one of three ways which effectively prevent its release into waterways and the environment in general--recycling, incineration, or landfilling. These three options all require a large investment in infrastructure which is not always available, meaning not all plastic waste in all locations is able to be managed well.</p>


            </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        
    </div>
</div>
</div>




{# well managed waste #}
<br><br>
<div class="container h-100">   
<h4 class="text-center">How much plastic waste is managed well globally?</h4>
    <br>
<div class="row align-items-center h-100"> 
    <div class="col-md-1"></div>
    <div class="col-md-5 mx-auto">
        <img src="static/images/plastic_well_managed.png" alt="plastic waste managed adequately by country income level" width="100%"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 mx-auto">
        <p>Most plastic waste from high income countries is well managed through one of these three options, while only about 32% of plastic waste from middle income, and 20% from low income countries is managed well. Poorly-managed waste can enter the world’s waterways, where it can enter the ocean or lead to environmental damage. While the highest plastic use per person occurs in high income countries, lower income countries have less developed infrastructure and smaller budgets, leading to more plastic which can be discharged into waterways.</p>
        
        <p><b>Data:</b><a href="#ref_jambeck">[Jambeck 2015]</a>, <a href="#wb_ww_db">[World Bank What a Waste Global Database]</a></p>        
        
    </div>
</div>
</div>

{# city budget #}
<br><br>
<div class="container h-100">   
<h4 class="text-center">How much is spent on waste management?</h4>
    <br>
<div class="row align-items-center h-100"> 
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div>
        <img src="static/images/city_budget_msw_pct.png" alt="plastic waste managed adequately by country income level" width="100%"/>
        </div>
        <br>
        <h6 class="text-center">Approximate % of city budgets spent on waste management in high, middle, and low income countries</h6>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 mx-auto">
        <p>The expansion of plastic waste disposal has not been able to keep up with the expansion of production of plastic waste, which may be explained by a combination of the very low cost of plastic and the relatively high cost of effective waste disposal. Cities in low and middle income countries spend a much higher proportion of their municipal budget on waste disposal compared to those in high income countries, and improving waste disposal in lower income countries would require spending an even larger proportion of the local budget on waste disposal at the expense of other city programs.
        </p>
        
        <p><b>Data:</b>, <a href="#wb_ww_book">[World Bank What a Waste 2.0 2018]</a></p>        
        
    </div>
</div>
</div>

<br><br>

{# variation in consumption HIC #}
<br><br>
<div class="container">   
<h4 class="text-center">How far would a $1,000 investment to clean up plastic waste go?</h4>
<div class="row"> 
    <div class="col-md-12 text-center">
        <img src="static/images/waste_removed_per_1k.png" alt="different amount of plastic waste removed with USD1000" width="100%"/>
        
    </div>
</div>
<br><br>
<div class="row">
    <p>To stem the ocean plastic pollution, the most cost effective way seems to be building up waste-management infrastructure in the low- and the middle-income countries. This would ensure that less plastic waste goes into the ocean, minimizing the cost of plastic recapture from the ocean, which is very expensive.</p>
    
    <p>In addition, building up waste management infrastructure everywhere would go a long way in solving other environmental issues such as air and water pollution, thus ensuring a healthier planet overall.</p>
    
    <p><b>Data:</b> <a href="#mr_trash_wheel">[Mr. Trash Wheel]</a>, <a href="#seabin_project">[Seabin Project]</a>, <a href="#ocean_cleanup">[The Ocean Cleanup]</a>, <a href="#wb_ww_db">[World Bank What a Waste Global Database]</a>, <a href="#wb_ww_book">[World Bank What a Waste 2.0 2018]</a></p>    
        

</div>
</div>


{# References: #}
{% include "content/references.html" %}

<hr>
<br><br>
<div class="container">   
    <div class="col-md-12">
        Created by Olivia Alley and Anindya Roy
    </div>
</div>


<br><br><br><br>