{# Heading block #}
<div class="container">   
    <div>
        <div class="row">        
        <div class="col-md-12">
           
            <br>
            <h2>Plastic pollution data visualization</h2>
            <p>Here we look at some data and stories related to plastic pollution, and ocean plastic pollution in particular.</p>
        </div>
        </div>
    </div>
</div>

{# estimate 8 million MT #}
<div class="container">   
<h4>An estimated 8 million metric tonnes of plastic waste enter the ocean every year</h4>
<div class="row"> 
    <div class="col-md-7">
        <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/jVNRCIoDfJfRTRLQbg" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
    <div class="col-md-5">
        <h5>How much is 8 million metric tonnes?</h5>
        <p>8 million tonnes of plastic, compacted, would fill about 1.2 million freight train cars. If they were all linked together traveling 30 mph (about 50 km/h), it would take 14 days for all 8 million tonnes of plastic to pass.</p>
        <p>Each train car contains roughly 700,000 plastic water bottles.</p>
        
    </div>
    

</div>
</div>


<br><br>
<div class="container">   
    <h4 class="text-center">Reducing the amount of plastic in the ocean</h4>
    <br>
    <div class="row">
        <div class="col-md-12">
            <img src="static/images/plastic_recapture.png" alt="Ocean cleanup project image" width="100%"/>
        </div>
    </div>
    <br>
    <h6 class="text-center">(From left to right) Mr. Trash Wheel, SeaBin, Ocean Cleanup</h6>
    <div class="row">
        <p>Once it enters waterways, plastic may be recaptured before it reaches the ocean. Two examples of automated devices which have been developed for doing this are Mr. Trash Wheel, located in the harbor in Baltimore, MD, USA, and the SeaBin project, located in waterways worldwide. Once plastic has entered the open ocean, currents and waves, as well as a greater overall area, make removal more difficult, so technology has not progressed as far. Under development now is a device by The Ocean Cleanup built to remove plastic from the open ocean.</p>
    </div>
    
</div>


{# variation in consumption HIC #}
<br><br>
<div class="container">   
<h4 class="text-center">Waste management on land is cheaper</h4>
<div class="row"> 
    <div class="col-md-12 text-center">
        <img src="static/images/waste_removal_cost_land_sea.png" alt="different amount of plastic waste produced per person on average from different high-income countries" width="100%"/>
        
    </div>
</div>
<br><br>
<div class="row">
    <p>In general, the cost of proper waste management prior to release into waterways is less than the cost of cleaning up plastic already in the ocean. Initial purchase and operation of Mr. Trash Wheel or an individual SeaBin corresponds to roughly USD $1,000 per ton of trash removed from the water. The Ocean Cleanup device is projected to cost around USD $5,000 per ton removed once it is operational. On the other hand, proper waste management to prevent plastic entering the waterways costs an average of USD $160/ton.</p>
    <p>To decrease the amount of plastic in the ocean, improved waste management is key.
    </p>
        

</div>
</div>




{#plastic waste map#}
<br><br>
<div class="container">   
    <h4>The average plastic waste per person per day is equivalent to the weight of...</h4>
<div class="row"> 
    <div class="col-md-7">

        <img src="static/images/waste_bottle_eq.png" alt="average plastic waste generation by country income level" width="100%"/>
    </div>
    <div class="col-md-5">
        <p>Assuming each bottle weighs about <b>9.5g, the weight of regular 500mL/16oz.</b> single-serve plastic bottles.</p>
        <p>As countries get wealthier, we can expect their plastic consumption to go up.</p>
        
    </div>
</div>
</div>




{# well managed waste #}
<br><br>
<div class="container">   
<div class="row"> 
    <h4>How much of this plastic is managed well?</h4>
    <div class="col-md-7">
        <img src="static/images/plastic_well_managed.png" alt="plastic waste managed adequately by country income level" width="100%"/>
    </div>
    <div class="col-md-5">
        <p>Depending on where we are in the world, most (or very little) of this plastic waste is managed alright. Well-managed waste is not likely to enter the ocean and cause environmental damange.</p>
        <p>Most plastic waste (and other waste) from the high-income countries are well managed (<em>Caveat: sans plastic waste export!</em>), while only about 32% plastic waste coming from the middle-income countries are adequately managed. This number drops to 20% for the low-income countries.</p>
        
    </div>
</div>
</div>

{# city budget #}
<br><br>
<div class="container">   
<h4>So, it&#39;s the poorer countries&#39; fault then?</h4>
<div class="row"> 
    <div class="col-md-7">
        <img src="static/images/city_budget_msw_pct.png" alt="plastic waste managed adequately by country income level" width="100%"/>
        
        <br>
        <h6 class="text-center">City budget % spent to manage municipal waste</h6>
    </div>
    <div class="col-md-5">
        <p>The reality is more complicated. If we try to understand how much effort the low- and the middle-income countries spend to manage municipal solid waste (that includes plastic waste), we see that a higher fraction of the city budget goes into cleaning up trash. Unfortunately it's just not enough to manage the waste adequately.</p>
    </div>
</div>
</div>

<br><br>








{# variation in consumption HIC #}
<br><br>
<div class="container">   
<h4 class="text-center">Not everyone consumes plastic the same way</h4>
<div class="row"> 
    <div class="col-md-12 text-center">
        <img src="static/images/hic_plastic_waste_variation.png" alt="different amount of plastic waste produced per person on average from different high-income countries" width="100%"/>
        
    </div>
</div>
<br><br>
<div class="row">
    <p>Plastic consumption habits of any country are tied to how welathy the population is (e.g., measured by gdp/capita), but that is only half the story. We take a closer look at the amount of plastic waste created by per person per day from a number of high-income nations, all measured in bottle equivalent units.</p>
    
    <p>As low- and middle-income countries continue to become wealthier, their plastic consumption would likely grow, and their waste management system will struggle to keep up with the rate of consumption. The habits and the variation of individual nations would make a large difference in the amount of waste we produce in the future.</p>
        

</div>
</div>

{#
<div class="container">   
<div class="row">        
<div class="col-md-12">
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/I4QNolP7Khc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></div></div>

<br><br>
<div class="container">   
<h4 class="text-center">...or recapture the plastic trash near land</h4>
<div class="row"> 
    <div class="col-md-8">
        <img src="static/images/mr_trash_wheel_2.jpg" alt="Mr. Trash Wheel in Baltimore, USA" width="100%"/>
        <h6 class="text-center">Mr. Trash Wheel in Baltimore, MD, USA</h6>
    </div>
    <div class="col-md-4">
        <img src="static/images/Seabin-collecting-debris.jpg" alt="A seabin from Seabin Project at work" width="100%"/>
        <h6 class="text-center">Seabin Project: A seabin collecting debris</h6>
        <img src="static/images/Seabin_standing.png" alt="A seabin from the seabin project in clear view" width="100%"/>
        <h6 class="text-center">Seabin Project: A seabin collecting debris</h6>        

    </div>
    {#
    <div class="col-md-3">
        <img src="static/images/Seabin_standing.png" alt="A seabin from the seabin project in clear view" width="100%"/>
        <h6 class="text-center">Seabin Project: A seabin collecting debris</h6>

    </div>    #}
</div>
</div>

#}
<br><br><br><br>