<br><br>
<div class="container">   
<h4>References:</h4>
<br>
<div class="row"> 
    <div class="col-md-12">
        <p id="ref_jambeck"><b>[Jambeck 2015]</b> Jambeck, J. R.; Geyer, R.; Wilcox, C; Siegler, T. R.; Perryman, M.; Andrady, A.; Narayan, R.; and Law, K. L. (2015). <em>Plastic waste inputs from land into the ocean</em>. Science, <b>347</b> (6223), 768-771.<br>
            Data from Jambeck <em>et. al.</em> may be obtained by making a <a href="https://science.sciencemag.org/content/347/6223/768.full" target="_blank">free Science account</a>, or from the ourworldindata site <a href="https://ourworldindata.org/plastic-pollution#mismanaged-plastic-waste" target="_blank">https://ourworldindata.org/plastic-pollution#mismanaged-plastic-waste</a>
        </p>
        
        <p id="wb_ww_book"><b>[World Bank What a Waste 2.0 2018]</b>
            Kaza, Silpa; Lisa Yao; Perinaz Bhada-Tata; and Frank Van Woerden; 2018. <em>What a Waste 2.0: A Global Snapshot of Solid Waste Management to 2050.</em> Urban Development Series. Washington, DC: World Bank. <a href="https://dx.doi.org/10.1596/978-1-4648-1329-0" target="_blank">doi: 10.1596/978-1-4648-1329-0</a>.
        </p>
        
        <p id="wb_ww_db"><b>[World Bank What a Waste Global Database]</b>
            “Country level dataset” downloaded from <a href="https://datacatalog.worldbank.org/dataset/what-waste-global-database" target="_blank">https://datacatalog.worldbank.org/dataset/what-waste-global-database</a><br>Accessed May 2019</p>
        
        <p id="wb_gni_def"><b>[World Bank Classification by GNI 2019]</b>
            Classification of countries by their Gross National Income (GNI). Current classification levels obtained from the World Bank website <a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519" target="_blank">https://datahelpdesk.worldbank.org/knowledgebase/articles/906519</a><br>
            Accessed June 2019</p>
        
        <p id="epa_aus"><b>[EPA Australia Waste Density]</b> The average density of compacted plastic waste was calculated based on the values for the plastic items listed here: <a href="https://www.epa.vic.gov.au/business-and-industry/lower-your-impact/~/media/Files/bus/EREP/docs/wastematerials-densities-data.pdf" target="_blank">https://www.epa.vic.gov.au/business-and-industry/lower-your-impact/~/media/Files/bus/EREP/docs/wastematerials-densities-data.pdf</a><br>Accessed June 2019
        </p>
        
        <p id="mr_trash_wheel"><b>[Mr. Trash Wheel]</b> Initial and operational cost of Mr. Trash Wheel calculated based on values presented in the article below with an assumed 10 year life cycle: <a href="https://cen.acs.org/environment/pollution/Baltimores-trash-eating-waterwheel/96/i16" target="_blank">https://cen.acs.org/environment/pollution/Baltimores-trash-eating-waterwheel/96/i16</a>
        </p>
        
        <p id="seabin_project"><b>[SeaBin Project]</b> Initial and operational cost of a SeaBin calculated based on the values for waste collection presented on the SeaBin website <a href="https://seabinproject.com/the-seabin-v5/technical-specs/" target="_blank">https://seabinproject.com/the-seabin-v5/technical-specs/</a> and the article <a href="https://www.eco-business.com/news/the-seabin-wont-swallow-asias-plastic-pollution-problembut-its-a-start/" target="_blank">https://www.eco-business.com/news/the-seabin-wont-swallow-asias-plastic-pollution-problembut-its-a-start/</a>, assuming a 10 year life cycle for a SeaBin.
        </p>
        
        <p id="ocean_cleanup"><b>[The Ocean Cleanup]</b> Theoretical pricing and waste collection efficiency, assuming a 10 year life cycle, is presented on pp. 20-22 of the published feasibility study which we accessed from: <a href="https://www.theoceancleanup.com/fileadmin/media-archive/Documents/TOC_Feasibility_study_executive_summary_V2_0.pdf" target="_blank">https://www.theoceancleanup.com/fileadmin/media-archive/Documents/TOC_Feasibility_study_executive_summary_V2_0.pdf</a>
        </p>
        <p id="ref_wiki_ship"><b>[Shipping container volume]</b> The volume of shipping containers used to calculate the approximate number of freight train cars are obtained from <a href="https://en.wikipedia.org/wiki/Intermodal_container#Specifications" target="_blank">https://en.wikipedia.org/wiki/Intermodal_container#Specifications</a>
        </p>
        
    </div>
</div>


</div>
<br><br>